<div class="container-fluid">
  <div class="row" style="background-color:gainsboro !important;">
    <div class="col-lg-12">
      <a routerLink="/cotizar">
        <img src="assets/td5.jpg" class="img-fluid" />
        </a>
    </div>
  </div>
  <div class="row text-center"  style="background-color:gainsboro !important;">
    <div class="col-lg-2 col-sm-12 col-md-12"></div>
    <div class="col-lg-8 col-sm-12 col-md-12">
      <p style="margin-top:30px !important;"></p>
      <h3 style="font-weight:bolder !important;">
        Con más de 20 años en la industria de transporte, en Transportes Davila ofrecemos
        el servicio de transporte de personal con unidades modernas,
        choferes altamente capacitados y tecnología de vanguardia.
      </h3>
      <p style="margin-top:50px!important;"></p>
    </div>
    <div class="col-lg-2 col-sm-12 col-md-12"></div>

  </div>
</div>

<div class="container">
  <div class="row">
    
      <p style="margin-top:1% !important;"></p>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="hidde">
          <img class="img-fluid" src="assets/IMG_3608.jpg" />
          </div>
        </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="hidde">
          <img class="img-fluid" src="assets/ope.jpg" />
        </div>
      </div>
  </div>

  <div class="row">
    <p style="margin-top:1% !important;"></p>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h3>Servicios Corporativos</h3>
      <p style="font-size:large !important;">
        Brindamos servicio a empresas a nivel estatal,
        ofreciendo soluciones flexibles para cada cliente adaptando unidades,
        horarios y esquemas comerciales con el fin de brindar el máximo beneficio
      </p>
      <div class="show">
        <img class="img-fluid" src="assets/IMG_3608.jpg" />
        <p style="margin-top:1% !important;"></p>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h3>Plantas Automotrices, Industrial y Maquilador</h3>
      <p style="font-size:large !important;">
        Nos adaptamos al tamaño y necesidad de cada uno de nuestros clientes
        en el traslado de su personal con esquemas comerciales flexibles.
      </p>
      <div class="show">
        <img class="img-fluid" src="assets/ope.jpg" />
        <p style="margin-top:1% !important;"></p>
      </div>
    </div>
  </div>

  </div>

<app-contactanos></app-contactanos>

<div class="container">
  <div class="row text-center">
    <p style="margin-top:1%!important;"></p>
    <div class="col-lg-12 col-sm-12 col-md-12">
      <h1>Más Servicios</h1>
    </div>
  </div>
  <div class="row text-center">
    <p style="margin-top:1% !important;"></p>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <img src="assets/TD7.jpg" style="height:260px !important;" class="img-fluid" />
      <h2 style="margin-top:2% !important;">Viajes Especiales</h2>
      <p style="font-size:large !important;">Teniendo a la seguridad como eje rector, llevamos más de 20 años trasladando familias en todo el país.</p>
      <button type="button" class="btn btn-secondary btn-lg" routerLink="/vespeciales" routerLinkActive="active">Conocer más</button>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="show">
        <p></p>
      </div>
      <img src="assets/AVANZA.png" class="img-fluid" />
      <h2 style="margin-top:2% !important;">Renta de Unidades</h2>
      <p style="font-size:large !important;">Ofrecemos renta de unidades con chofer a cualquier destino o evento para empresas o particulares.</p>
      <button type="button" class="btn btn-secondary btn-lg" routerLink="/rentaunidades" routerLinkActive="active">Conocer más</button>
    </div>
  </div>
  <div class="row">
    <p style="margin-top:4% !important;"></p>
  </div>
</div>
