<div class="container-fluid">
  <div class="row" style="background-color: gainsboro !important;">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <a routerLink="/cotizar">
        <img src="assets/cotizar.jpg" class="img-fluid" />
      </a>
    </div>
  </div>
  <div class="row text-center" style="background-color: gainsboro !important;">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <p></p>
      <h2>¿Quiénes somos?</h2>
      <p></p>
      <h3>
        Transportes Dávila S.A. de C.V. es una empresa mexicana, dedicada al transporte de personal de empresas, cuenta con el equipo necesario y la infraestructura adecuada para el mejor servicio de la región.
      </h3>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row text-center" style="background-color: gainsboro !important;">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <p></p>
        <img src="assets/td3.jpeg" class="img-fluid" />
      <p></p>
    </div>
  </div>
</div>

<div class="container">
  <!-- NUESTRA HISTORIA -->
  <div class="row text-center">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <p></p>
      <h2>Nuestra Historia</h2>
      <p style="margin-top:50px !important;"></p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <p></p>
      <p style="font-size:x-large !important;">
        Desde 1985 el Señor y la Señora Dávila constituyeron esta empresa llamada desde sus inicios Transportes Dávila y contaban en aquel entonces con una sola unidad; de esta forma y gracias al esfuerzo y dedicación de esta gran pareja, Transportes Dávila ahora constituida como S.A. de C.V.
      </p>
      <p style="font-size:x-large !important;">
        En la actualidad es una de las principales empresas en el ramo de transporte de personal del poniente de Nuevo León, ha evolucionado y lo seguirá haciendo con el fin de satisfacer las demandas del mercando, que cada vez es mas exigente
      </p>
      <p></p>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <img src="assets/td4.png" class="img-fluid" />
      <p style="margin-top:50px !important;"></p>

    </div>
  </div>

  <!-- RESPONSABILIDAD SOCIAL -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <p></p>
      <img src="assets/IMG_4481.jpg" class="img-fluid img2" />
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h2 class="text-center">Responsabilidad Social</h2>
      <p style="font-size:x-large !important;">
        La mejora continua de nuestros procesos, la responsabilidad social, cuidado del medio ambiente y la generación de un espacio laboral seguro son parte fundamental de nuestro compromiso.
        Buscamos siempre la seguridad y satisfacción de nuestros clientes y partes interesadas al brindarles un servicio de transporte de personal empresarial y turístico.
      </p>
    </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <p></p>
        <img src="assets/IMG_4481.jpg" class="img-fluid img3" />
      </div>

  </div>

  <!-- Sostenibilidad e Integridad -->
  <div class="row justify-content-center align-items-center" style="margin-top:50px !important;">

    <div class="col-lg-6 col-md-12 col-sm-12">
      <h2 class="text-center">Sostenibilidad e Integridad</h2>
      <p style="font-size:x-large !important;">
        En Transportes Davila cuidamos cada una de nuestras operaciones tomando en cuenta las
        prioridades económicas, ambientales y sociales de nuestro entorno.
        Enfocamos cada acción con responsabilidad hacia nuestros clientes y usuarios;
        apegados a la ley y a las mejores prácticas; y buscando el desarrollo profesional de nuestros colaboradores.
        En Transportes Davila nos apegamos a las políticas corporativas de sostenibilidad y de integridad.
      </p>

    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <img src="assets/IMG_6320.jpg" class="img-fluid" />
    </div>
  </div>
  <p style="margin-top:100px !important;"></p>

</div>
