<div class="container-fluid">
  <div class="row" style="background-color:gainsboro !important;">
    <div class="col-lg-12">
      <a routerLink="/cotizar">
        <img src="assets/seguridad.png" class="img-fluid" />
        </a>
    </div>
  </div>
  <div class="row text-center" style="background-color:gainsboro !important;">
    <div class="col-lg-2 col-sm-12 col-md-12"></div>
    <div class="col-lg-8 col-sm-12 col-md-12">
      <p style="margin-top:30px !important;"></p>
      <h3 style="font-weight:bolder !important;">
        En Transportes Davila, la seguridad de nuestros pasajeros y colaboradores es prioridad. Por ello, contamos con estrictos procesos operativos que garantizan un trayecto seguro.
      </h3>
      <p style="margin-top:50px!important;"></p>
    </div>
  </div>


</div>
<div class="hidde"><p style="margin-top:3% !important;"></p></div>
<div class="show"><p style="margin-top:1% !important;"></p></div>
<div class="container">
  <div class="row text-center">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h2>Mantenimiento</h2>
      <p></p>
      <ul class="list-group list-group-flush" style="font-size:large!important;">
        <li class="list-group-item">Programa constante de mantenimiento preventivo y correctivo de unidades</li>
        <li class="list-group-item">Talleres y personal mecánico certificados</li>
        <li class="list-group-item">Unidades de mantenimiento móvil</li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <img src="assets/TD10.jpg" style="height:70% !important;" class="img-fluid" />
    </div>
  </div>

  <div class="row text-center">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="hidde">
        <img src="assets/IMG_4510.JPG" style="height:80% !important;" class="img-fluid" />
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h2>Control y monitoreo</h2>
      <p></p>
      <ul class="list-group list-group-flush" style="font-size:large!important;">
        <li class="list-group-item">Torre de control</li>
        <li class="list-group-item">Rastreo y desvío de rutas</li>
        <li class="list-group-item">Apertura y cierre de puertas</li>
        <li class="list-group-item">Control del límite de velocidad</li>
      </ul>
      <div class="show">
        <img src="assets/IMG_4510.JPG" class="img-fluid" />
      </div>
    </div>
  </div>

  <div class="row text-center">
    <p></p>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h2>
        Operadores de excelencia
      </h2>
      <p></p>
      <ul class="list-group list-group-flush" style="font-size:large!important;">
        <li class="list-group-item">Se lleva a cabo un estricto proceso de reclutamiento para la selección de personal</li>
        <li class="list-group-item">Capacitación constante en hábitos de conducción, manejo defensivo y seguridad vials</li>
        <li class="list-group-item">Nuestro personal cuenta con conocimiento de primeros auxilios</li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="hidde">
        <img src="assets/TD12.jpeg" style="height:80% !important;" class="img-fluid" />
      </div>
      <div class="show">
        <img src="assets/TD12.jpeg" class="img-fluid" />
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="hidde">
        <img src="assets/TD13.jpg" style="height:80% !important;" class="img-fluid" />
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h2>Protocolos de Sanitización</h2>
      <p></p>
      <ul class="list-group list-group-flush" style="font-size:large!important;">
        <li class="list-group-item">
          Apego a estrictos protocolos sanitarios ante la contingencia por COVID-19.
  </li>
        <li class="list-group-item">Las unidades están sujetas diariamente a una rutina de limpieza y desinfección.</li>
      </ul>
      <div class="show">
        <img src="assets/TD13.jpg" class="img-fluid" />
        <p style="margin-top:2% !important;"></p>
      </div>
    </div>
  </div>

  <div class="hidde">
    <p style="margin-top:2% !important;"></p>
  </div>
</div>

