<div class="container-fluid">
  <div class="row" style="background-color:gainsboro !important;">
    <div class="col-lg-12">
      <a routerLink="/cotizar">

        <img src="assets/TD14.png" class="img-fluid" />
        </a>
    </div>
  </div>
  <div class="row text-center" style="background-color:gainsboro !important;">
    <div class="col-lg-2 col-sm-12 col-md-12"></div>
    <div class="col-lg-8 col-sm-12 col-md-12">
      <p style="margin-top:30px !important;"></p>
      <h3 style="font-weight:bolder !important;">
        En Transportes Davila contamos con la mejor tecnología y herramientas de vanguardia que nos permiten garantizar un mejor servicio y de mayor calidad.
      </h3>
      <p style="margin-top:50px!important;"></p>
    </div>
  </div>


</div>
<p style="margin-top:1% !important;"></p>
<div class="container">
  <div class="show">
    <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/CM32.png" class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img src="assets/TD15.png" class="d-block w-100">

        </div>
        <div class="carousel-item">
          <img src="assets/gps.png" class="d-block w-100">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="hidde">
        <img src="assets/CM32.png" style="height:70% !important;" class="img-fluid w-120" />
      </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12">
      <div class="hidde">

        <img src="assets/TD15.png" style="height:80% !important;" class="img-fluid w-100" />
      </div>

    </div>
    <div class="col-lg-3 col-md-12 col-sm-12">
      <div class="hidde">

        <img src="assets/gps.png" style="height:80% !important;" class="img-fluid w-100" />
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h3>Sistema Anti-Colisión (ADAS)</h3>
      <p style="font-size:large !important;">Sistema avanzado de ayuda a la conducción que permite mejorar la seguridad del vehículo a través de una visión artificial en tiempo real</p>
      <p style="margin-top:1% !important;"></p>
      <h3>Wi-Fi</h3>
      <p style="font-size:large !important;">Contamos con servicio de internet para que estés conectado todo el tiempo</p>
      <p style="margin-top:1% !important;"></p>
      <h3>D - MAS</h3>
      <p style="font-size:large !important;">Dispositivo de evaluación de conducción en tiempo real; Ayuda a los conductores a identificar y romper malos hábitos</p>
      <p style="margin-top:1% !important;"></p>
      <h3>Telemetría</h3>
      <p style="font-size:large !important;">Mide indicadores de seguridad y eventos mecánicos, como identificador del operador, hábitos de conducción, horas de manejo, diagnósticos remotos y más</p>
      <p style="margin-top:1% !important;"></p>

    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h3>Software de Eficiencia Logística</h3>
      <p style="font-size:large !important;">
        Nuestros sistemas permiten optimizar viajes en costo, tiempo y dinero mediante un algoritmo de operación, además de analizar en tiempo real las condiciones de manejo para trazar la mejor ruta.
      </p>
      <p style="margin-top:1% !important;"></p>
      <h3>TDMobile</h3>
      <p style="font-size:large !important;">
        Aplicación de usuarios para dispositivos móviles mediante la cual podrás tener más control de las rutas, ya que cuenta con un sistema de monitoreo. Además podrás visualizar la unidad, recibir información sobre la posición de la misma y recibir notificaciones para abordarla.
      </p>
      <p style="margin-top:1% !important;"></p>
      <h3>Control inteligente</h3>
      <p style="font-size:large !important;">
        Se registran todos los abordajes y descensos para optimizar el uso de la unidad respecto a la cantidad de pasajeros a bordo del vehículo en tiempo real.
      </p>
      <p style="margin-top:1% !important;"></p>

    </div>
  </div>

</div>


