<div class="container-fluid">
  <div class="row" style="background-color:gainsboro !important;">
    <div class="col-lg-12">
      <a routerLink="/cotizar">

        <img src="assets/td9.png" class="img-fluid" />
        </a>
    </div>
  </div>
  <div class="row text-center" style="background-color:gainsboro !important;">
    <div class="col-lg-2 col-sm-12 col-md-12"></div>
    <div class="col-lg-8 col-sm-12 col-md-12">
      <p style="margin-top:30px !important;"></p>
      <h3 style="font-weight:bolder !important;">
        En Transportes Davila ofrecemos el servicio de renta de camiones y camionetas con chofer para empresas y particulares, asegurando un trayecto cómodo y seguro.
      </h3>
      <p style="margin-top:50px!important;"></p>
    </div>
    <div class="col-lg-2 col-sm-12 col-md-12"></div>

  </div>
</div>
<p style="margin-top:3% !important;"></p>
<app-contactanos></app-contactanos>
<div class="container">
  <div class="row text-center">
    <p style="margin-top:1%!important;"></p>
    <div class="col-lg-12 col-sm-12 col-md-12">
      <h1>Más Servicios</h1>
    </div>
  </div>
  <div class="row text-center">
    <p style="margin-top:1% !important;"></p>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <img src="assets/IMG_3608.jpg" style="height:260px !important;" class="img-fluid" />
      <h2 style="margin-top:2% !important;">Transportes de personal</h2>
      <p style="font-size:large !important;">Teniendo a la seguridad como eje rector, llevamos más de 20 años trasladando empresas en todo el país.</p>
      <button type="button" class="btn btn-secondary btn-lg" routerLink="/tpersonal" routerLinkActive="active">Conocer más</button>
    </div>
    <div class="show">
      <p></p>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <img src="assets/TD7.jpg" style="height:260px !important;" class="img-fluid" />
      <h2 style="margin-top:2% !important;">Viajes Especiales</h2>
      <p style="font-size:large !important;">Teniendo a la seguridad como eje rector, llevamos más de 20 años trasladando familias en todo el país.</p>
      <button type="button" class="btn btn-secondary btn-lg" routerLink="/vespeciales" routerLinkActive="active">Conocer más</button>
    </div>
  </div>
  <div class="row">
    <p style="margin-top:4% !important;"></p>
  </div>
</div>
